html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

#footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 15px 0;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 0 10px 5px #ddd;
}
#footer > span {
  margin-right: 10px;
  background-color: #ff6633;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  user-select: none;
  transition: background-color 0.3s;
}
#footer > span:hover {
  background-color: #ff6633dd;
}
#footer > span:active {
  background-color: #fc541d;
}
