html,
body {
  margin: 0;
  padding: 0;
}
#footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e64a19;
}

.page {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 {
  background-color: #9e9e9e;
}
.page2 {
  background-color: greenyellow;
}
